<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <!-- The definition of the Root Spring Container shared by all Servlets and Filters -->
	<context-param> <!-- 서버가 꺼질때 까지 기억 -->
		<param-name>contextConfigLocation</param-name>
		<param-value> <!-- 리스너를 통해 조림됨 -->
			/WEB-INF/spring-service.xml
		   ,/WEB-INF/spring-data.xml
		</param-value>
	</context-param>

	<!-- Creates the Spring Container shared by all Servlets and Filters -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<!-- Processes application requests -->
	<servlet>
		<servlet-name>appServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param> <!-- 요청이 있을 시에만 읽음 -->
			<param-name>contextConfigLocation</param-name> <!-- 정확히 입력!! -->
			<param-value>/WEB-INF/spring-servlet.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping> <!-- URL이 ~.sp4로 끝나면 appServlet으로 -->
		<servlet-name>appServlet</servlet-name>
		<url-pattern>*.sp4</url-pattern>
	</servlet-mapping>
</web-app>